<h2>Productos</h2>
<hr>

{{#if user.name}}
    <p>Bienvenido <strong>{{user.name}}</strong> - Correo Electrónico: <strong>{{user.email}}</strong> - Rol: <strong>{{user.role}}</strong> 
    </p>
    <a href="/logout">Cerrar sesión</a><br>
    <hr>
{{/if}}


<div>
    <ul>
        {{#each products.docs}}
            <li>
                <strong>{{this.title}}</strong>
                <button type='button' onclick="addtoCart('{{this.id}}')">Agregar al carrito</button>
            </li>
        {{/each}}
    </ul>
</div>

<hr>
<a href="products?page=1">Pág.1</a>
{{#if products.hasPrevPage}}
    <a href="products?page={{products.prevPage}}">Pág.Ant.</a>
{{else}}
    <span>Pág.Ant.</span>
{{/if}}
{{#if products.hasNextPage}}
    <a href="products?page={{products.nextPage}}">Pág.Sig.</a>
{{else}}
    <span>Pág.Sig.</span>
{{/if}}
<a href="products?page={{products.totalPages}}">Ult.Pág.</a><br><br>

<a href="/">Home</a><br>
<a href="/chat">Chat</a><br>
<a href="/realTimeProducts">Real time products</a><br>
<a href="/carts/657128616f2822768850acd1">Cart - 657128616f2822768850acd1 (default)</a>

<script src="/js/products.js"></script>